:root {
  --bg: hsl(226, 43%, 10%);
  --text-color: hsl(236, 100%, 87%);
  --off-white: #f5f5f3;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;
}
