@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--bg);
  color: var(--main-text-color);
}
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--green);
  font-size: var(--font-size-lg);
}

p {
  font-size: var(--font-size-md);
}

p,
article,
section {
  line-height: 1.5;
}

:focus {
  outline: 0.15rem dashed var(--off-white);
  outline-offset: 0.25rem;
}
main:focus {
  outline: none;
}

img {
  max-width: 100%;
}
