.activity {
  margin-bottom: 50px;
  display: grid;
}

.cardOutline {
  list-style: none;
  border: 1px solid hsl(235, 46%, 20%);
  border-radius: 20px;
  margin-top: 20px;
  background-image: url("../public/icon-work.svg");
  background-position: top right 10%;
}

.cardStatic {
  margin-top: 40px;
  margin-bottom: -3px;
  border-radius: 20px;
  display: grid;
  padding-top: 10px;
  background: hsl(235, 46%, 20%);
  color: var(--off-white);
  transition: 0.3s ease;
}

.cardStatic:hover {
  cursor: pointer;
  background-color: hsl(235, 46%, 30%);
}

.textAndMenu {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.activityTitle {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.menuDots {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.menuDots:hover {
  color: white;
  transform: scale(1.1);
}

.cardData {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  margin-bottom: 25px;
}

.hrs {
  font-size: 30px;
  font-weight: 300;
}

.lastPeriod {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1024px) {
  .activity {
    grid-template-columns: repeat(3, 220px);
    grid-gap: 20px;
    margin: 0;
  }

  .cardOutline {
    margin: 0;
    height: 220px;
  }

  .cardStatic {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: -2px;
    height: 180px;
  }

  .cardData {
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    line-height: 5rem;
  }
  .hrs {
    font-size: 40px;
  }

  .lastPeriod {
  }
}
