.activity {
  margin-bottom: 50px;
}

.cardOutline {
  list-style: none;
  border: 1px solid hsl(235, 46%, 20%);
  border-radius: 20px;
  margin-top: 20px;
  background-image: url("../public/icon-work.svg");
  background-position: top right 10%;
}

.cardStatic {
  margin-top: 40px;
  margin-bottom: -2px;
  border-radius: 20px;
  display: grid;
  padding-top: 10px;
  background: hsl(235, 46%, 20%);
  color: var(--text-color);
}

.textAndMenu {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.activityTitle {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.menuDots {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.cardData {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  margin-bottom: 25px;
}

.hrs {
  font-size: 30px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.lastPeriod {
  padding: 0;
  margin: 0;
}
