.card {
  background: hsl(235, 46%, 20%);
  max-height: 400px;
  border-radius: 20px;
  box-sizing: border-box;
}

.user {
  display: flex;
  background: hsl(246, 80%, 60%);
  border-radius: 20px;
}

.profilePicture {
  border-radius: 50%;
  border: 2px solid white;
  margin: 20px;
}

.select {
  display: flex;
  margin: auto;
  justify-content: space-around;
  color: hsl(235, 45%, 61%);
}

.daily {
  color: hsl(235, 45%, 61%);
}

.active {
  color: hsl(236, 100%, 87%);
}

@media screen and (min-width: 900px) {
  .card {
    display: flex;
    flex-direction: column;
    background: hsl(235, 46%, 20%);
    max-width: 200px;
    max-height: 500px;
    border-radius: 20px;
  }

  .user {
    flex-direction: column;
    height: 350px;
    /* padding-left: 1rem;
    padding-right: 1rem; */
  }

  .p {
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .name {
    margin-top: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
  }

  .select {
    flex-direction: column;
  }
}
